# BDAT1004_Data Programming Problem Set 2

# Quesion 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [7]:
a = 0
def b():    # all references to a in b() are to the global a
 global a    #a is a global variable associated with a global scope 
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
a


#a = 0, global scope created
#the function 'b' is defined.
#a=c(a) local scope inside function b
#function c has the current value 'a'
#the function c adds '2' to each code argument and returns a result 
#when b() is executed, it updates the global variable 'a' with the result from c(a) (2,4,6)

6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [35]:
def fileLength(filename):
    try:
        infile = open(filename, 'r') #attempt to open the file in read mode 
        content = infile.read() #read file content
        
    except FileNotFoundError:
        return("File {} not found.".format(filename)) #display FileNotFoundError by printing a friendly message

print(fileLength('midterm.py'))

print(fileLength('idterm.py'))

File midterm.py not found.
File idterm.py not found.

# Question 3 

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [110]:
class Marsupial:
    def __init__(self):
        self.pouch = []  

    def put_in_pouch(self, item):
        self.pouch.append(item)  # Add item to the pouch list

    def pouch_contents(self):
        return self.pouch  


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        Marsupial.__init__(self)  # constructor of the parent class 
        self.x = x  
        self.y = y  

    def jump(self, dx, dy):
        self.x += dx  # Move along the x-axis
        self.y += dy  # Move along the y-axis

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)



m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  

k = Kangaroo(0, 0)
print(k)  
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents()) 
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops
    
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [98]:
def collatz(x):
    print(x)

    if x == 1:
        return
    
    elif x % 2 == 0: #if x is even
        collatz(x // 2) #integer division
    else:
        collatz(3 * x + 1) #if x is odd

collatz(1)

collatz(10)

1
10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [18]:
def binary(n):
    if n == 0:
        return '0'
    else:
        b = ''
        while n > 0: #iterate while n>0
            b = str((n % 2)) + b
            n //= 2   
        return b

print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have 
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [224]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    headers = ['h1', 'h2', 'h3', 'h4']
    indent_level = 0

    def handle_starttag(self, tag, attrs):
        if tag in self.headers:
            print('  ' * self.indent_level + tag.upper() + ': ', end='')

    def handle_data(self, data):
        print(data.strip())

infile = open('C:\\Users\\mbane\\Downloads\\w3c (2).txt', 'r') 
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

Change_me






H1: W3C Mission

H2: Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [117]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

def crawl2(url):
    '''a recursive web crawler that calls analyze()
       on every visited web page'''

    # add url to set of visited pages
    global visited
    visited.add(url)

    # analyze() returns a list of hyperlink URLs in web page url 
    links = analyze(url)

    # recursively continue the crawl from every link in links
    for link in links:
        # follow link only if not visited
        if link not in visited:
            try:
                crawl2(link)
            except:
                pass

def webdir(url, depth, indent):
    """
    Recursive function to visit web pages and print their URLs with specified indentation.
    """
 
    if depth >= 0:
        try:
        
            print(' ' * indent + '{}'.format(url)) # Print the current URL with proper indentation

            
            crawl2(url) # web crawler function crawl2

        except Exception as e:
            print(' ' * indent + 'Error accessing {}: {}'.format(url, e))
            

visited = set()  
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html


Visiting http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
Error accessing http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: HTTP Error 404:

# Question 8


Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

    City           Country                Season                Temperature(C)           Rainfall(mm)
    Mumbai         India                  Winter                    24.8                      5.9
    Mumbai         India                  Spring                    28.4                      16.2
    Mumbai         India                  Summer                    27.9                      1549.4
    Mumbai         India                  Fall                      27.6                      346.0
    London         United Kingdom         Winter                    4.2                       207.7
    London         United Kingdom         Spring                    8.3                       169.6
    London         United Kingdom         Summer                    15.7                      157.0
    London         United Kingdom         Fall                      10.4                      218.5
    Cairo          Egypt                  Winter                    13.6                      16.5
    Cairo          Egypt                  Spring                    20.7                      6.5
    Cairo          Egypt                  Summer                    27.7                      0.1
    Cairo          Egypt                  Fall                      22.2                      4.5

In [143]:
import sqlite3

# Connect to SQLite database 
conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()

# Create Weather table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Weather (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    );
''')

# Insert data into Weather table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
]

cursor.executemany('''
    INSERT INTO Weather (City, Country, Season, Temperature, Rainfall)
    VALUES (?, ?, ?, ?, ?);
''', data)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [162]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()

# a) All the temperature data.
cursor.execute('SELECT Temperature FROM Weather;')
result_a = cursor.fetchall()
print("a) All the temperature data:")
print(result_a)

# b) All the cities, but without repetition.
cursor.execute('SELECT DISTINCT City FROM Weather;')
result_b = cursor.fetchall()
print("\nb) All the cities, but without repetition:")
print(result_b)


# d) All the Fall records.
cursor.execute('SELECT * FROM Weather WHERE Season = "Fall";')
result_d = cursor.fetchall()
print("\nd) All the Fall records:")
print(result_d)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cursor.execute('''
    SELECT City, Country, Season
    FROM Weather
    GROUP BY City, Country, Season
    HAVING AVG(Rainfall) BETWEEN 200 AND 400;
''')
result_e = cursor.fetchall()
print("\ne) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
print(result_e)

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cursor.execute('''
    SELECT City, Country, AVG(Temperature) as AvgTemp
    FROM Weather
    WHERE Season = "Fall"
    GROUP BY City, Country
    HAVING AvgTemp > 20
    ORDER BY AvgTemp;
''')
result_f = cursor.fetchall()
print("\nf) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:")
print(result_f)

# g) The total annual rainfall for Cairo.
cursor.execute('SELECT SUM(Rainfall) FROM Weather WHERE City = "Cairo";')
result_g = cursor.fetchall()
print("\ng) The total annual rainfall for Cairo:")
print(result_g)

# h) The total rainfall for each season.
cursor.execute('''
    SELECT Season, SUM(Rainfall) as TotalRainfall
    FROM Weather
    GROUP BY Season;
''')
result_h = cursor.fetchall()
print("\nh) The total rainfall for each season:")
print(result_h)

a) All the temperature data:
[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,), (24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,), (24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,), (24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,), (24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,), (24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,), (24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

b) All the cities, but without repetition:
[('Mumbai',), ('London',), ('Cairo',)]

d) All the Fall records:
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
[('Cairo', 'Egypt', 22.199999999999996), ('Mumbai', 'India', 27.599999999999998)]

g) The total annual rainfall for Cairo:
[(193.19999999999996,)]

h) The total rainfall for each season:
[('Fall', 3983.0), ('Spring', 1346.1000000000001), ('Summer', 11945.5), ('Winter', 1610.7)]

# Question 9


. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [173]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] #create word list

print("a) Uppercase:") #prints list words in Capital/Upper case form
print([list.upper() for list in words])

print("\nb) Lowercase:") # prints list words in lower case form
print([list.lower() for list in words])

print("\nc) Length of each word in list words:") # prints the list of length of each word in the list words
print([len(list) for list in words])

print("\nd) Where each list contains the word in uppercase and lowercase and the length of the word:") # prints a list including the uppercase, lowercase and length of each word
print([[list.upper(), list.lower(), len(list)] for list in words])

print("\ne) ist of words in list words containing 4 or more characters:") #prints the  words in the list that have >=4 letters or characters
print([list for list in words if len(list) >=4])

a) Uppercase:
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) Lowercase:
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) Length of each word in list words:
[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) Where each list contains the word in uppercase and lowercase and the length of the word:
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e) ist of words in list words containing 4 or more characters:
['quick', 'brown', 'jumps', 'over', 'lazy']